html {
  background-color: #343a40;
}
#title {
  font-family: 'Bangers', cursive;
  -webkit-text-stroke: 2px black;
  text-shadow: 3px 7px 4px rgb(255, 196, 0), 7px 3px 1px #000;
  font-size: 100px;
  color:black;
  font-weight: bold;
}
.title-font {
  font-family: 'Comic Sans MS', cursive;
  font-size: 120px; 
}
@keyframes waveAnimation {
  0%, 100% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(10px);
  }
}
h1 span {
  display: inline-block;
  animation: waveAnimation 3s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--index));
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
body {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #82b8fa, #1e95f6, #01dec4);
  background-size: 600% 600%;
  animation: gradientAnimation 15s ease infinite;
  color: white;
  padding: 0px;
}
.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.profile-pic {
  display: flex;
  flex-direction: column;
}
.profile-pic img {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
}
img {
  width: 300px;
  height: 400px;
  border-style: groove;
  border-color: red;
  border-width: 10px;
}
img:hover {
  transform: scale(2.10);
  cursor: pointer;
}
.current-projects {
  background-color: #ffc107;
  padding: 20px;
}
.white {
  color: white;
}
.cp-describe {
  margin-top: 10px;
}
.about-me {
  background-color: #007bff;
  color: #ffffff;
  padding: 20px;
}
.blue {
  color: #007bff;
}
.red {
  color: #dc3545;
}
.sub-text {
  margin-top: 5px;
}
.my-background {
  background-color: #007bff;
  color: #ffffff;
  padding: 20px;
}
/* #enroll-pg{} */
.container {
  margin-top: 20px;
}